@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.productos-banner, .nosotros-banner {
  display: flex;
  justify-content: center;
  align-items: center; }

.hero div, .titulos, .todo-productos .owl-container .owl-carousel .item, .equipo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.hero, .owl-container, .empresa, .moldes, .kits {
  display: flex;
  justify-content: space-around;
  align-items: center; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  line-height: normal; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.division-curva {
  height: 1fr;
  width: auto;
  position: relative; }

.navbar .container-fluid .collapse .navbar-nav .nav-item {
  transition-duration: 1s; }
  .navbar .container-fluid .collapse .navbar-nav .nav-item .parahover:hover {
    background-color: #91b453;
    color: white; }

.logo {
  width: 100px;
  height: auto; }

.hero {
  background-image: url(../img/greenforest.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden; }
  .hero div {
    width: 40%; }
    .hero div h1 {
      text-align: center;
      font-weight: 800;
      font-size: 26px; }
    .hero div p {
      text-align: center; }
    .hero div a {
      color: #000000;
      font-weight: 700;
      background-color: #91b453;
      padding: 8px;
      margin-top: 15px;
      text-align: center; }
      .hero div a:hover {
        color: black;
        background-color: #ffffff;
        color: #91b453; }
  .hero .contenedor-mujer {
    position: relative;
    width: 600px;
    height: auto; }
    .hero .contenedor-mujer:hover {
      opacity: 1; }
    .hero .contenedor-mujer .imagenmujer {
      width: 100%;
      height: auto; }
    .hero .contenedor-mujer .hojas {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.5s ease; }
      .hero .contenedor-mujer .hojas:hover {
        opacity: 1; }

.ingredientes {
  background-color: #91b453;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  transition: 2s; }
  .ingredientes div {
    width: 50%;
    margin: 12px;
    text-align: left; }
    .ingredientes div h2 {
      font-size: 24px;
      font-weight: 800; }
  .ingredientes img {
    width: 450px;
    height: 450px;
    transition: transform 0.5s ease; }
    .ingredientes img:hover {
      transform: scale(1.1); }

.componentes {
  background-color: #91b453;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .componentes h2 {
    font-size: 24px;
    font-weight: 800;
    margin: 30px; }
  .componentes .componentesIconos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    width: 80%;
    height: 80%; }
    .componentes .componentesIconos div img {
      width: 60px;
      height: 60px;
      margin: 2px; }
    .componentes .componentesIconos div p {
      margin: 4px; }

.nuevosproductos h2 {
  margin: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: 800; }

.owl-container {
  max-width: 1300px;
  margin: 0 auto; }

.empresa {
  background-color: #91b453;
  padding: 20px;
  flex-direction: row-reverse; }
  .empresa img {
    width: 450px;
    height: 450px;
    transition: transform 0.5s ease; }
    .empresa img:hover {
      transform: scale(1.1); }
  .empresa div {
    width: 50%; }
    .empresa div h2 {
      font-size: 24px;
      font-weight: 800; }

.productos-banner {
  width: 100%;
  height: 50vh;
  background-image: url(../img/banner2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center; }
  .productos-banner h1 {
    color: #000000;
    font-weight: 900;
    font-size: 35pt; }

.titulos {
  text-align: center;
  justify-content: space-between; }
  .titulos .titulos-productos {
    color: #000000;
    font-weight: 900;
    font-size: 35pt; }
  .titulos p {
    text-align: center; }

.todo-productos .owl-container .owl-carousel .item {
  background-color: #e9e9e9;
  object-fit: cover;
  box-shadow: 9px -10px 6px -7px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 9px -10px 6px -7px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 9px -10px 6px -7px rgba(0, 0, 0, 0.17); }
  .todo-productos .owl-container .owl-carousel .item:hover {
    filter: brightness(107%); }
  .todo-productos .owl-container .owl-carousel .item img {
    width: 230px;
    height: 339px;
    object-fit: cover; }
  .todo-productos .owl-container .owl-carousel .item div {
    text-align: center;
    margin-bottom: 20px; }
    .todo-productos .owl-container .owl-carousel .item div h3 {
      font-size: 18px;
      font-weight: 600;
      margin-top: 20px; }
    .todo-productos .owl-container .owl-carousel .item div p {
      margin-bottom: 10px; }
    .todo-productos .owl-container .owl-carousel .item div a {
      background-color: #91b453;
      color: #ffffff;
      text-decoration: none;
      font-weight: 600;
      padding: 5px;
      margin: 10px; }
      .todo-productos .owl-container .owl-carousel .item div a:hover {
        color: black; }

.titulos h1 {
  color: black; }

.titulos .titulos-productos {
  text-align: center;
  margin: 50px; }

.titulos p {
  width: 70%;
  font-weight: 600;
  margin-bottom: 50px; }

.margentitulos {
  margin-top: 60px; }

.moldes {
  margin: 20px; }
  .moldes div {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px; }
    .moldes div div img {
      width: 350px; }
    .moldes div .boton2 {
      background-color: #91b453;
      color: #ffffff;
      text-decoration: none;
      font-weight: 600;
      padding: 8px;
      margin: 10px; }
      .moldes div .boton2:hover {
        color: black; }

.kits {
  margin: 20px; }
  .kits div {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex; }
    .kits div div {
      display: flex;
      flex-direction: column;
      margin: 5px; }
      .kits div div div {
        display: flex;
        flex-direction: column; }
        .kits div div div .boton2 {
          background-color: #91b453;
          color: #ffffff;
          text-decoration: none;
          font-weight: 600;
          padding: 8px;
          margin: 10px; }
          .kits div div div .boton2:hover {
            color: black; }

.nosotros-banner {
  width: 100%;
  height: 50vh;
  background-image: url(../img/jabones.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .nosotros-banner h1 {
    color: #000000;
    font-weight: 900;
    font-size: 3rem;
    text-align: center; }

.oficina {
  background-color: #91b453;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  padding: 20px; }
  .oficina img {
    width: 600px;
    height: auto; }
  .oficina div p {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 30px; }

.equipo h2 {
  margin: 30px; }

.equipo .integrantesequipo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 70px; }
  .equipo .integrantesequipo div img {
    width: 300px; }
  .equipo .integrantesequipo div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left; }

.container-formulario {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }
  .container-formulario h3 {
    text-align: center;
    margin-bottom: 20px; }
  .container-formulario .contact-form {
    display: flex;
    flex-direction: column; }
    .container-formulario .contact-form label {
      font-weight: bold;
      margin-bottom: 5px; }
    .container-formulario .contact-form input {
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px; }
    .container-formulario .contact-form textarea {
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px; }
    .container-formulario .contact-form button {
      padding: 10px 20px;
      background-color: #91b453;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      cursor: pointer; }
      .container-formulario .contact-form button:hover {
        background-color: #035e0d; }

footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }
  footer div {
    display: flex;
    margin: 6px; }
    footer div .negociosverdes {
      height: 150px; }
    footer div div {
      font-style: italic;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      text-align-last: left;
      font-size: 14px; }
      footer div div p {
        text-align: left;
        margin-bottom: 0px; }
  footer .redes a {
    margin: 10px; }
    footer .redes a img {
      width: 30px; }

@media screen and (max-width: 2000px) {
  .nuevosproductos div {
    flex-direction: row; }
  .carousel-corto {
    display: none; } }

@media screen and (max-width: 1158px) {
  .kits div {
    flex-direction: column; }
    .kits div div div img {
      width: 400px; }
  .oficina {
    flex-direction: column-reverse;
    align-items: center; }
    .oficina div {
      display: flex;
      align-items: center; }
      .oficina div p {
        text-align: center;
        margin-left: none;
        width: 80%; } }

@media screen and (max-width: 1032px) {
  .hero {
    flex-direction: column; }
    .hero div {
      width: 70%; }
      .hero div h1 {
        margin-top: 20px; }
  .ingredientes {
    flex-direction: column; }
    .ingredientes div {
      text-align: center;
      width: 70%;
      margin-bottom: 20px; }
  .empresa {
    flex-direction: column; }
    .empresa div {
      width: 70%;
      text-align: center;
      margin-top: 20px; }
  .carousel-corto {
    display: none; }
  .container-formulario {
    width: 700px;
    margin: 0 auto;
    padding: 10px; } }

@media screen and (max-width: 920px) {
  .componentesIconos {
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    width: 90%;
    height: 90%; }
  .carousel-corto {
    display: none; }
  .equipo .integrantesequipo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 70px; }
  .container-formulario {
    width: 700px;
    margin: 0 auto;
    padding: 10px; } }

@media screen and (max-width: 689px) {
  .hero .contenedor-mujer {
    width: 400px;
    height: auto; }
  .ingredientes img {
    width: 350px;
    height: 350px; }
  .empresa img {
    width: 350px;
    height: 350px; }
  footer {
    flex-direction: column;
    align-items: center; }
  .carousel-corto {
    display: block; }
  .carousel-largo {
    display: none; }
  .container-formulario {
    width: 500px;
    margin: 0 auto;
    padding: 10px; }
  .integrantesequipo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-bottom: 70px; }
  .oficina {
    flex-direction: column-reverse;
    align-items: center; }
    .oficina img {
      width: 450px; }
  .equipo .integrantesequipo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-bottom: 70px; } }

@media screen and (max-width: 430px) {
  .componentes .componentesIconos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    width: 80%;
    height: 80%; }
  .oficina {
    flex-direction: column-reverse;
    align-items: center; }
    .oficina img {
      width: 320px; }
  .hero .contenedor-mujer {
    width: 250px; }
  .carousel-corto {
    display: block; }
  .carousel-largo {
    display: none; }
  .kits div {
    flex-direction: column; }
    .kits div div div img {
      width: 350px; }
  .container-formulario {
    width: 350px;
    margin: 0 auto;
    padding: 10px; } }
