.hero {
    background-image: url(../img/greenforest.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @extend %flexjustify;
    overflow: hidden;

    div {
        @extend %flexcolumn;
        width: 40%;

        h1 {
            text-align: center;
            font-weight: 800;
            font-size: 26px;
        }

        p {
            text-align: center;
        }

        a {
            color: map-get($boton, texto-boton);
            font-weight: 700;
            background-color: map-get($boton, fondo-boton);
            padding: 8px;
            margin-top: 15px;
            border-radius: map-get($boton, borde-boton);
            text-align: center;

            &:hover {
                color: black;
                background-color: #ffffff;
                color: #91b453;
            }
        }
    }

    .contenedor-mujer {
        position: relative;
        width: 600px;
        height: auto;

        &:hover {
            opacity: 1;
        }

        .imagenmujer {
            width: 100%;
            height: auto;
        }

        .hojas {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            // opacity: 0;

            // transition: opacity 0.5s ease;

            // &:hover {
            //     opacity: 1;
            // }
        }
    }


}



.ingredientes {
    background-color: $color-primario;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    transition: 2s;

    div {
        width: 50%;
        margin: 12px;
        text-align: left;

        h2 {
            font-size: 24px;
            font-weight: 800;
        }

        // p {}
    }

    img {
        width: 450px;
        height: 450px;
        transition: transform 0.5s ease;

        &:hover {
            transform: scale(1.1);
            
        }
    }
}

.componentes {
    background-color: $color-primario;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    h2 {
        font-size: 24px;
        font-weight: 800;
        margin: 30px;
    }

    .componentesIconos {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        text-align: center;
        width: 80%;
        height: 80%;

        div {
            img {
                width: 60px;
                height: 60px;
                margin: 2px;
            }
            p{
                margin: 4px;
            }
        }
    }
}

.nuevosproductos {
    h2 {
        margin: 30px;
        text-align: center;
        font-size: 24px;
        font-weight: 800;
    }
}

.owl-container {
    @extend %flexjustify;
    max-width: 1300px;
    margin: 0 auto;
}

.empresa {
    background-color: $color-primario;
    @extend %flexjustify;
    padding: 20px;
    flex-direction: row-reverse;

    img {
        width: 450px;
        height: 450px;
        transition: transform 0.5s ease;

        &:hover {
            transform: scale(1.1);
            
    }
}

    div {
        width: 50%;

        h2 {
            font-size: 24px;
            font-weight: 800;
        }
    }
}